<html>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<body>

<div>
    <hr>
    <button type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add Tasks</button>
    <h2>Tasks To Be Done</h2>
    <span class="clearfix"></span>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>task_Id</th>
        <th>task</th>
        <th>task_Description</th>
        <th>deadline</th>
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks">
      <td>{{task.task_Id}}</td>
        <td>{{task.title}}</td>
        <td>{{task.task_Description}}</td>
        <td>{{task.deadline}}</td>
        <td><button type="button" class="btn btn-primary btn-sm "  data-toggle="modal" data-target="#edittask" ng-click="editTask(task)">Edit</button></td>
		<td><button type="button" class="btn btn-primary btn-sm " data-toggle="modal"  data-target="#finish" ng-click="finished(task)">Introspect</button></td>
      </tr>
	
	
       </tbody>
</table>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Task</h4>
        </div>
        <div class="modal-body">
         <form class="form-horizontal">


  <div class="form-group">
    <label class="control-label col-sm-2" for="title">Title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" placeholder="Enter Task" ng-model="title" required>
    </div>
  </div>
  

  <div class="form-group">
    <label class="control-label col-sm-2" for="task_Description">Description:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" id="task_Description" placeholder="Enter Description" ng-model="task_Description"  required></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="deadline">Deadline:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" id="deadline" placeholder=" Deadline" ng-model="deadline"  required></textarea>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="posttask()" data-dismiss="modal">Post</button>
    </div>
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!-- Modal -->
  <div class="modal fade" id="edittask" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Task</h4>
        </div>
        <div class="modal-body">
         <form class="form-horizontal">
         <div class="form-group">
    <label class="control-label col-sm-2" for="blog_Id">Id</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="task_Id" ng-model="taskDataToEdit.task_Id" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="title">Title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" ng-model="taskDataToEdit.title"  required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="task_Description">Description:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" id="task_Description" ng-model="taskDataToEdit.task_Description" required></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="deadline">Deadline</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" id="deadline" ng-model="taskDataToEdit.deadline" required></textarea>
    </div>
  </div>
  
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="saveEdit()" data-dismiss="modal">Finish</button>
    </div>
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
   
 </div>
   
  <!-- Modal -->
  <div class="modal fade" id="finish" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Introspect</h4>
        </div>
        <div class="modal-body">
        <div class="modal-body">
         <form class="form-horizontal">
    
  
         <strong >Is Your Task {{taskstatus.task_Id}} is Done?  </strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="taskdone(task)">Finished</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
  </div>
    </div>
   
   <hr>
   <h2>Finished Tasks</h2>
    <span class="clearfix"></span>
    
    <table class="table table-striped">
    <thead>
      <tr>
        <th>task_Id</th>
        <th>task</th>
        <th>task_Description</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="don in done">
      <td>{{don.task_Id}}</td>
        <td>{{don.title}}</td>
        <td>{{don.task_Description}}</td>
        
      </tr>
	
	
       </tbody>
</table>
   

    </body>
  </html>